.photo {
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

body {
	font-family: "Roboto", sans-serif;
	padding: 60px;
	background-color: rgb(204, 110, 228);
}
